{
  "extends": ["react-app", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "semi": ["error", "always"],
    "no-mixed-operators": [
      "warn",
      {
        "groups": [
          ["&", "|", "^", "~", "<<", ">>", ">>>"],
          ["==", "!=", "===", "!==", ">", ">=", "<", "<="],
          ["in", "instanceof"]
        ],
        "allowSamePrecedence": true
      }
    ],
    "no-unused-vars": "error",
    "prettier/prettier": "error",
    "jsx-a11y/href-no-hash": "off"
  }
}
