/*
  imported from Years.scss 
 */

.Cal__Years__root {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F9F9F9; }
  .Cal__Years__root:before, .Cal__Years__root:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 50px;
    pointer-events: none;
    z-index: 1; }
  .Cal__Years__root:before {
    top: 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0) 100%); }
  .Cal__Years__root:after {
    bottom: 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 100%); }

.Cal__Years__list {
  box-sizing: border-box; }
  .Cal__Years__list.Cal__Years__center {
    display: flex;
    align-items: center;
    justify-content: center; }

.Cal__Years__year {
  display: flex;
  padding: 0 20px;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
  box-sizing: border-box; }
  .Cal__Years__year.Cal__Years__withMonths {
    border-bottom: 1px solid #E9E9E9; }
    .Cal__Years__year.Cal__Years__withMonths label {
      height: 88px;
      padding-top: 12px;
      box-sizing: border-box; }
  .Cal__Years__year label {
    flex-basis: 42%; }
    .Cal__Years__year label span {
      flex-shrink: 0;
      color: #333; }
  .Cal__Years__year ol {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    font-size: 14px; }
    .Cal__Years__year ol li {
      display: flex;
      width: 44px;
      height: 44px;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      list-style: none;
      border-radius: 50%;
      margin-bottom: 2px;
      box-sizing: border-box;
      color: #444;
      font-weight: 400;
      text-transform: capitalize; }
      .Cal__Years__year ol li.Cal__Years__currentMonth {
        border: 1px solid; }
      .Cal__Years__year ol li.Cal__Years__selected {
        position: relative;
        z-index: 1;
        background-color: blue;
        color: #FFF !important;
        border: 0; }
        .Cal__Years__year ol li.Cal__Years__selected .Cal__Years__selection {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          width: 40px;
          height: 40px;
          margin-top: -20px;
          margin-left: -20px;
          border-radius: 50%;
          line-height: 40px;
          z-index: 2; }
      .Cal__Years__year ol li.Cal__Years__disabled {
        cursor: not-allowed;
        color: #AAA; }
        .Cal__Years__year ol li.Cal__Years__disabled:hover {
          background-color: inherit; }
      .Cal__Years__year ol li:hover {
        background-color: #EFEFEF; }
  .Cal__Years__year:hover label > span, .Cal__Years__year.Cal__Years__active label > span {
    color: inherit; }
  .Cal__Years__year:hover, .Cal__Years__year.Cal__Years__active {
    position: relative;
    z-index: 2; }
  .Cal__Years__year.Cal__Years__active {
    font-size: 32px; }
  .Cal__Years__year.Cal__Years__currentYear {
    position: relative; }
    .Cal__Years__year.Cal__Years__currentYear label > span {
      min-width: 50px;
      padding-bottom: 5px;
      border-bottom: 3px solid; }
    .Cal__Years__year.Cal__Years__currentYear.Cal__Years__active label > span {
      min-width: 85px; }
  .Cal__Years__year.Cal__Years__first {
    padding-top: 40px; }
  .Cal__Years__year.Cal__Years__last {
    padding-bottom: 40px;
    border-bottom: none; }

/*
 * Range selection styles
 */
.Cal__Years__range.Cal__Years__selected.Cal__Years__start:after, .Cal__Years__range.Cal__Years__selected.Cal__Years__end:after {
  content: '';
  position: absolute;
  top: 50%;
  width: 50%;
  height: 44px;
  margin-top: -22px;
  background-color: #559fff; }

.Cal__Years__range.Cal__Years__selected.Cal__Years__disabled {
  background-color: #EEE !important; }
  .Cal__Years__range.Cal__Years__selected.Cal__Years__disabled .Cal__Years__selection.Cal__Years__selection {
    background-color: #EEE !important;
    color: #FFF; }
  .Cal__Years__range.Cal__Years__selected.Cal__Years__disabled:after {
    background-color: #EEE !important; }

.Cal__Years__range.Cal__Years__selected.Cal__Years__start .Cal__Years__selection {
  background-color: #448aff;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%; }

.Cal__Years__range.Cal__Years__selected.Cal__Years__start:after {
  right: 0; }

.Cal__Years__range.Cal__Years__selected.Cal__Years__start.Cal__Years__end:after {
  display: none; }

.Cal__Years__range.Cal__Years__selected.Cal__Years__betweenRange {
  border-radius: 0; }
  .Cal__Years__range.Cal__Years__selected.Cal__Years__betweenRange .Cal__Years__selection {
    left: 0;
    right: 0;
    width: 100%;
    margin-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0; }

.Cal__Years__range.Cal__Years__selected.Cal__Years__end:after {
  left: 0; }

.Cal__Years__range.Cal__Years__selected.Cal__Years__end .Cal__Years__selection {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  color: #559fff;
  background-color: #FFF;
  box-sizing: border-box; }
