@import '../variables';

.root {
  // position: absolute;
  // width: 100%;
  &.even {
    .row {
      li {
        background-color: #fff;
      }
    }
  }

  &.odd {
    .row {
      li {
        background-color: $blue_5;
      }
    }
  }
}
.rows {
  position: relative;
}
.row {
  padding: 0;
  margin: 0 auto;
  width: 280px;

  &:first-child {
    text-align: right;
  }

  &.partial {
    &:last-of-type {
      li {
        position: relative;
        z-index: 1;
      }
    }
  }
}

.label {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: 0;

  font-size: 24px;
  font-weight: bold;
  z-index: 3;
  pointer-events: none;

  background-color: rgba(255, 255, 255, 0.85);

  opacity: 0;
  transition: opacity 0.3s ease;

  > span {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: $rowHeight;

    display: flex;
    align-items: center;
    justify-content: center;

    text-transform: capitalize;
  }

  &.partialFirstRow {
    top: $rowHeight;
  }
}
