@import '../variables';

.root {
  width: 100% !important;
  background-color: #fff;
  -webkit-overflow-scrolling: touch;
  background-image: linear-gradient(
    rgba(15, 35, 70, 0.12),
    rgba(15, 35, 70, 0)
  );
  background-size: 100% 8px;
  background-repeat: no-repeat;

  &.scrolling {
    > div {
      pointer-events: none;
    }

    label {
      opacity: 1;
    }
  }
}
