@import '../variables';
@import '../Calendar/Range/Range';

.root {
  display: inline-block;
  box-sizing: border-box;
  width: 40px;
  list-style: none;
  font-size: 12px;
  text-align: center;
  z-index: 1;

  cursor: pointer;
  user-select: none;
  
  // for weekly selection
  &.hovered {
    position: relative;
    &:after {
      content: '';
      display: block;
      width: 100%;
      height: $rowHeight;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background-color: $blue_10;
      z-index: -1;
    }

    &.startOfWeek,
    &.endOfWeek {
      position: relative;
      background-color: transparent;
      &:before {
        @include circle($rowHeight);
        background-color: $blue_10;
        z-index: -1;
      }
      &:after {
        width: 50%;
      }
    }

    &.startOfWeek {
      &:after {
        right: 0;
      }
    }

    &.endOfWeek {
      &:after {
        left: 0;
      }
    }
  }

  &.enabled {
    &.highlighted,
    &:active,
    &:hover {
      position: relative;
      z-index: 1;

      &:before {
        @include circle($rowHeight);

        background-color: $blue_10;
        z-index: -1;
      }
    }

    &.highlighted:before,
    &:active:before {
      opacity: 1;
    }
  }

  &:first-child {
    position: relative;
  }

  &.today {
    position: relative;
    z-index: 2;

    > span {
      color: $blue;
    }

    &.disabled > span {
      color: $blue_20;
    }

    &:before {
      @include circle($rowHeight);
      box-shadow: inset 0 0 0 1px;
      z-index: -1;
    }

    &.disabled:before {
      box-shadow: inset 0 0 0 1px $blue_25;
    }
  }

  &.selected {
    position: relative;

    > .month,
    > .year {
      display: none;
    }

    &:before {
      display: none;
    }

    .selection {
      @include circle($rowHeight);
      line-height: $rowHeight;
      z-index: 2;

      .month {
        color: #fff;
        top: 7px;
      }
      .day {
        position: relative;
        top: 7px;
        font-size: 12px;
        font-weight: bold;
      }
    }
  }
  &.disabled {
    color: $blue_20;
    cursor: not-allowed;
  }
}

.month,
.year {
  position: absolute;
  left: 0;
  right: 0;

  font-size: 10px;
  line-height: 12px;
  text-transform: capitalize;
}

.month {
  color: $blue_65;
  top: 2px;
}

.year {
  color: $blue_65;
  bottom: 3px;
}

/*
 * Range selection styles
 */
.range.selected {
  &.start,
  &.end {
    .day {
      font-weight: bold;
    }
    &:after {
      content: '';
      position: absolute;
      top: 50%;
      width: 50%;
      height: $rowHeight;
      transform: translateY(-50%);
      background-color: $blue_25;
    }
  }

  &.start.endOfWeek,
  &.end.startOfWeek {
    &:after {
      display: none;
    }
  }

  &.disabled {
    .selection.selection {
      background-color: $blue_25 !important;

      .day,
      .month {
        color: #fff;
        font-weight: normal;
      }
    }
  }

  &.start {
    .selection {
      border-top-left-radius: $rowHeight / 2;
      border-bottom-left-radius: $rowHeight / 2;
    }

    &:after {
      right: 0;
    }

    &.end:after {
      display: none;
    }
  }

  &.end {
    &:after {
      left: 0;
    }

    .selection {
      border-top-right-radius: $rowHeight / 2;
      border-bottom-right-radius: $rowHeight / 2;

      box-sizing: border-box;

      .day {
        top: 7px;
      }
    }
  }

  &.betweenRange {
    .selection {
      left: 0;
      right: 0;
      width: 100%;
      margin-left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 0;
      color: $blue !important;
      background-color: $blue_25 !important;
    }

    &.startOfWeek,
    &.endOfWeek {
      .selection {
        width: $rowHeight;
        left: 50%;
        top: 50%;
        transform: translateX(-50%);
      }

      &:after {
        display: block;
        content: '';
        position: absolute;
        top: 50%;
        width: 50%;
        height: $rowHeight;
        transform: translateY(-50%);
        background-color: $blue_25;
      }
    }

    &.startOfWeek {
      .selection {
        border-top-left-radius: $rowHeight / 2;
        border-bottom-left-radius: $rowHeight / 2;
      }

      &:after {
        right: 0;
      }
    }

    &.endOfWeek {
      .selection {
        border-top-right-radius: $rowHeight / 2;
        border-bottom-right-radius: $rowHeight / 2;
      }

      &:after {
        left: 0;
      }
    }

    .day {
      top: 0;
      font-size: 12px;
      font-weight: normal;
    }
    .month {
      display: none;
    }
  }
}

.startOfMonth {
  border-radius: 50% 0 0 0;
  position: relative;
  content: '';

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    border-radius:  50% 0 0 0;
    width: 40px;
    height: 40px;
  }
}

.startOfEvenMonth {
  background-color: #f3f4f6 !important;

  &:before {
    background-color:  #fff;
  }
}

.startOfOddMonth {
  background-color:  #fff !important;
  
  &:before {
    background-color: #f3f4f6 !important;
  }
}

.endOfMonth {
  position: relative;
  border-radius:  0 0 50% 0;
  content: '';

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 40px;
    border-radius:  0 0 50% 0;
  }
} 

.endOfOddMonth {
  background-color: #f3f4f6 !important;
  border-radius: 0;

  &:before {
    background-color:  #fff;
  }
}

.endOfEvenMonth {
  background-color:#fff !important;
  border-radius: 0;

  &:before {
    background-color:  #f3f4f6;
  }
}
