// @Variables
$rowHeight: 40px;
$borderRadius: 3px;
$horizontalPadding: 20px;

$blue: #0f2346;
$blue_10: #e7e8ec;
$blue_15: #dbdee4;
$blue_20: #cfd3da;
$blue_25: #c3c8d1;
$blue_35: #abb2c0;
$blue_50: #8790a2;
$blue_65: #647188;
$blue_75: #4b5b76;
$pink: #fd1f6d;
